h1,p,.card {
  color:white;
}

/* Background styles */
body {
  background-color: #000000;
  background-position: center;
}

#results {
  background-color: rgb(19, 19, 19);
  min-height: 100vh;
  padding: 1em;
  border-radius: 5px;

}

/* Glassmorphism card effect */
.card {
  backdrop-filter: blur(15px) saturate(100%);
  -webkit-backdrop-filter: blur(15px) saturate(100%);
  background-color: rgba(17, 25, 40, 0.38);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  min-height: 100px;
}

.container {
  padding: 0px 16px 16px 16px;
}

body
{
        width: 70%;
        margin-left:auto;
        margin-right:auto;
}

input
{
  width: 100%;
  padding: 8px 8px;
  margin: 8px 0px;
  box-sizing: border-box;
}